Mosh/__pycache__/
Mosh/venv/
Mosh/.idea/
giraffe/__pycache__/
giraffe/venv/
giraffe/.idea/
pyshop/__pycache__/
pyshop/venv/
pyshop/.idea/
pyshop/*.egg-info
pyshop/*.pot
pyshop/*.py[co]
pyshop/.tox/
__pycache__
pyshop/MANIFEST
pyshop/dist/
pyshop/docs/_build/
pyshop/docs/locale/
pyshop/node_modules/
pyshop/tests/coverage_html/
pyshop/tests/.coverage
pyshop/build/
pyshop/tests/report/